.mobile-dialog {
  & .mat-icon {
    font-size: 38px !important;
  }

  & a, a:hover {
    text-decoration: none;
    color: white;
  }
}

.bg-apklis {
  background-color: #24272c;
}

.apklis-logo {
  width: 32px;
}
