<div class="mobile-dialog flex flex-col justify-center p-2">
  <div class="flex">
    <mat-icon>phone_android</mat-icon>
    <p class="ml-3">Picta también tiene una aplicación para Android</p>
  </div>
  <a (click)="goOnWeb()" class="bg-apklis mt-3" color="primary"
     href="https://www.apklis.cu/application/cu.picta.android" mat-raised-button
     target="_blank">Descarga desde apklis <img alt="apklis-logo" class="w-8 ml-4 inline-block"
                                                src="img/apklis-logo.svg">
  </a>
  <button (click)="goOnWeb()" class="mt-3" mat-stroked-button>Continuar en la web</button>

</div>
