@if (videosRecomendados()) {
  <div class="px-1 mb-5">
    <div class="flex flex-row justify-content-between">
      <div class="order-lg-0"><h6>Videos recomendados</h6></div>
    </div>
    @for (current of visibleVideos(); track current; let i = $index) {
      <div [ngClass]="{first:i===0, second:i===1}" class="recomended-card flex flex-row block group">
        <a (click)="navigatePost(current.slug_url)" class="relative ">
          <img alt="{{current.nombre}}" height="94" ngSrc="{{current.url_imagen + '_168x94'}}" width="168">
          <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <mat-icon>play_circle</mat-icon>
          </div>
          <span class="video-duration">{{ current.duracion }}</span>
        </a>
        <div class="ml-2 flex flex-col gap-1">
          <a (click)="navigatePost(current.slug_url)" [title]="current.nombre"><span class="line-clamp-2">{{current.nombre.slice(0, 50)}}</span></a>
          <a [routerLink]="['/canal', current.canal_alias]"><span class="text-sm text-gray-400">{{current.canal}}</span></a>
          <div class="flex gap-2">
            <span class="text-xs text-gray-400">{{current.cantidad_visitas | shortNumbers }} vistas </span>
                        • 
            <span class="text-xs text-gray-400">hace {{ current.tiempo_creacion }}</span>
          </div>
        </div>
      </div>
    }
    @if (canLoadMore()) {
      <div class="mt-3">
        <button (click)="loadMoreVideos()" class="w-full !rounded-full !border-white/20 !bg-white/5 !text-white hover:!bg-white/10" mat-stroked-button>
          Mostrar mas videos
        </button>
      </div>
    }
  </div>
}
