.avatar-canal {
  display: grid;
  place-content: center;
  border: 1px solid;
  border-radius: 100%;
  min-width: 48px;
  height: 48px;
  text-align: center;
  font-size: 1.5rem;

  & img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid;

  }
}
