<div class="about-page">
  <div class="max-w-screen-xl mx-auto">
    <header class="about-header">
      <h1 class="about-header-title">Acerca de Picta</h1>
      <p class="about-header-subtitle">Conoce la plataforma cubana de contenidos audiovisuales.</p>
    </header>

    <div class="about-content">
      <div class="about-section">
        <div class="tittle-term">¿Qué es Picta?</div>
        <p class="about-text">
          Picta es la plataforma cubana de contenidos audiovisuales desarrollada por la Universidad
          de las Ciencias Informáticas. Ofrece el servicio de televisión en vivo a través de streaming
          de video.
        </p>
      </div>

      <div class="about-section">
        <div class="tittle-term">¿Por qué el nombre Picta?</div>
        <p class="about-text">
          Se parte de la idea de darle a la plataforma una identidad que reflejara tanto colorido
          como soberanía, por lo que se toma como tema a la Polymita picta, una especie endémica
          de Cuba considerada el caracol más bello del mundo.
          Luego se unen en un solo isotipo la espiral colorida de la Polymita picta con el símbolo
          triangular de reproducción (play) para evocar el objetivo de la plataforma que es la difusión
          de audiovisuales. Con la unión al nombre (Picta) se crea un imagotipo atractivo, moderno y
          que transmite la razón de ser de la plataforma de contenidos audiovisuales.
        </p>
      </div>

      <div class="about-section">
        <div class="tittle-term">Contáctanos</div>
        <p class="about-text">
          Puedes contactarnos enviando un correo a
          <a href="mailto:picta@z17.cu">picta&#64;z17.cu</a>.
        </p>
      </div>

      <div class="about-section">
        <div class="tittle-term">Redes Sociales</div>
        <div class="socials">
          <a href="https://www.facebook.com/share/18barwpBz7/" target="_blank" rel="noopener">
            <img alt="Facebook" class="logo-icon" src="img/Facebook.svg" />
            /pictaCuba
          </a>
          <a href="https://twitter.com/pictacuba" target="_blank" rel="noopener">
            <img alt="Twitter" class="logo-icon" src="img/Twitter.svg" />
            /pictaCuba
          </a>
          <a href="https://t.me/pictacuba" target="_blank" rel="noopener">
            <img alt="Telegram" class="logo-icon" src="img/telegram-icon.svg" />
            /pictacuba
          </a>
          <a href="https://t.me/picta_comunidad" target="_blank" rel="noopener">
            <img alt="Telegram" class="logo-icon" src="img/telegram-icon.svg" />
            /picta_comunidad
          </a>
        </div>
      </div>
    </div>
  </div>
</div>