<mat-accordion>
  <mat-expansion-panel [expanded]="true" class="chatpanel">
    <mat-expansion-panel-header style="background: #1b2f48">
      <div>Chat en vivo</div>
    </mat-expansion-panel-header>
    <div class="flex flex-col">
      <div class="flex flex-col chat-body overflow-y-auto flex-grow">
        @if (messages?.length) {
          <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
            <!--<div class="flex justify-center items-center" *ngIf="loadingMessages">
            <mat-spinner [diameter]="20"></mat-spinner>
          </div>-->
          @for (message of messages; track message; let index = $index) {
            <div class="flex items-start" [class.mt-2]="index > 0">
              @if (message.avatar) {
                <img width="48" height="48" [ngSrc]="message.avatar + '_48x48'" alt="" class="w-10 h-10 !rounded-full mr-3 object-cover" />
              } @else {
                <div class="flex justify-center items-center mr-3 ring-1 ring-white w-10 w-10 !rounded-full bg-picta-terciary-bg-blue font-bold">
                  {{ user.username.charAt(0) | uppercase }}
                </div>
              }
              <div class="flex flex-col mt-0.5">
                <span class="break-normal"><b>{{ message.user }}:</b>{{ message.text }}</span>
                <!--<div class="flex items-center text-sm text-secondary mt-2">
              </div>-->
            </div>
          </div>
        }
      </div>
    } @else {
      <div
        class="w-full h-96 flex flex-col p-8 justify-center items-center">
        @if (loadingMessages) {
          <mat-spinner aria-label="cargando" [diameter]="30" color="primary"></mat-spinner>
        }
        @if (!loadingMessages && messages.length === 0) {
          <mat-icon>sms</mat-icon>
          <div class="mt-3 font-bold text-secondary uppercase"> No hay mensajes </div>
        }
      </div>
    }
  </div>
  <div class="flex items-center w-full px-2 pt-3 shadow-sm" style="background: #1b2f48">
    <button [matMenuTriggerFor]="emojiMenu" mat-icon-button color="primary" matTooltip="Emoji" class="mb-1 mr-2" [disabled]="!user">
      <mat-icon>mood</mat-icon>
    </button>
    <mat-menu #emojiMenu="matMenu" (click)="$event.stopPropagation()">
      <!--  <ngx-emoj (click)="$event.stopPropagation()" (onemojipick)="emojiClicked($event)" [width]="'300px'" [height]="'300px'" [theme]="themeEmoji">
    </ngx-emoj> -->
  </mat-menu>
  <mat-form-field class="flex-grow-1" appearance="fill">
    <input #inputElement type="text" class="text-2xl" [placeholder]="user ? 'Di algo...' : 'Inicia sesión para chatear'" matInput (keyup.enter)="send(inputElement)" [formControl]="messageInput" />
  </mat-form-field>
  <!--<button mat-icon-button color="primary" [mat-menu-trigger-for]="donateMenu" [disabled]="!user" matTooltip="Premiar"
  class="mb-1 ml-2">
  <mat-icon>attach_money</mat-icon>
</button>
<mat-menu #donateMenu="matMenu">
  <button mat-menu-item disabled>
    Coming soon...
  </button>
</mat-menu>-->
<button mat-icon-button color="primary" (click)="send(inputElement)" matTooltip="Enviar" class="mb-1" [disabled]="!messageInput.value || !user">
  <mat-icon>send</mat-icon>
</button>
</div>
</div>
</mat-expansion-panel>
</mat-accordion>
