.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.not-found-header {
  font-family: 'Roboto', serif;
  font-size: 54px;

  & span {
    font-size: 72px;
    font-weight: bolder;

  }
}
