<h2 mat-dialog-title>¡Bienvenido a Picta! </h2>
<mat-dialog-content class="mat-typography">
    <p>Para disfrutar al máximo de nuestra plataforma y acceder a todas las funcionalidades, te invitamos a registrarte.</p>

    <p>Una vez autenticado, podrás descargar, comentar, reaccionar y disfrutar de nuestros videos en calidad superior.</p>

    <p>¡Únete a la comunidad y comienza a disfrutar de todo lo que Picta tiene para ofrecer!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
