<div class="container flex justify-content-center align-items-center mat-typography"
     style="height: 100vh">
  <mat-card>
    <mat-card-content>
      <div class="" style="text-align: center">
        <mat-icon class="" style="font-size: 80px">payment</mat-icon>
        <h1>Pago realizado satisfactoriamente</h1>
        <h2>Número de transacción: <span class="font-weight-bold">{{this.transaction}}</span></h2>
        <mat-icon class="check-icon" style="color: #37d17c;">check_circle</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>
</div>
