<div class="flex items-center flex-wrap">
  @for (movie of movies(); track movie) {
    <mat-card [routerLink]="['/medias', movie.slug_url]" (mouseenter)="showLayer()" (mouseleave)="hideLayer()" id="{{ 'card' + movie?.id }}" [ngClass]="{'hover-card': isHover}" class="p-0 video-card">
      <img [alt]="movie.nombre" [ngSrc]="movie.url_imagen + '_300x180'" class="mb-0 w-full h-full" width="300" height="180" />
      <div class="flex flex-wrap title-price">
        <span mat-card-title class="mt-1 title">
          {{ movie.nombre.length < 32 ? movie.nombre : movie.nombre | slice:0:32 }} @if (movie.nombre.length > 32) {
          <span>...</span>
        }
      </span>
      @if (movie.precios.length) {
        <h3 style="color: #40c4ff;" class="precio mt-1 title">${{ movie.precios?.[0]?.valor }}</h3>
      }
    </div>
    @if (showLayerFlag) {
      <div class="video-details layer">
        <mat-card-content>
          <div class="flex items-center flex-wrap details-title" >
            <span mat-card-title>{{ movie.nombre }}</span>
            <mat-card-actions class="p-0 flex flex-wrap title-price">
              @if (movie.precios.length) {
                <h3 class="price" title="Precio">${{ movie.precios?.[0]?.valor }}</h3>
              }
              <button [routerLink]="['/medias', movie.slug_url]" mat-icon-button [color]="colorplay" (mouseover)="colorplay='primary'" (mouseout)="colorplay='accent'" title="Ver Película">
                <mat-icon class="icon-size-transform">play_circle_filled</mat-icon>
              </button>
              <button [routerLink]="['/movie', movie.slug_url]" mat-icon-button [color]="colorinfo" (mouseover)="colorinfo='primary'" (mouseout)="colorinfo='accent'" title="Más Información">
                <mat-icon class="icon-size-transform">info</mat-icon>
              </button>
            </mat-card-actions>
          </div>
          <div class="flex items-center flex-wrap" >
            <p class="mr-2">Duracion: {{ movie.duracion }}</p>
          </div>
          <div>
            <p>
              {{ movie?.descripcion?.length < 120 ? movie.descripcion : movie.descripcion | slice:0:120 }} @if (movie?.descripcion?.length > 120) {
              <span>...</span>
            }
          </p>
        </div>
      </mat-card-content>
    </div>
  }
</mat-card>
}
</div>
