.mat-list.beneficios-list {
  background: transparent;
}

mat-card.premium-card {
  background: transparent;

}

:host {
  ::ng-deep .mat-dialog-container {
    padding: 0;
    margin: 0;
  }
}

.qrImage {
  width: 100%;
  height: 100%;
  max-width: 340px;
}

.payLink {
  color: white;
  font-weight: bold;
}
