<h5 mat-dialog-title>Términos y condiciones de uso</h5>
<mat-dialog-content>
  <ng-container>
    <strong class="tittle_term">1. Definiciones</strong><br>
    <p> Cliente: Persona natural o jurídica que acceda a Picta y/o se registre para acceder a los Contenidos de Picta.
      <br>
      Distribuidor: Titular o distribuidor que utiliza Picta para publicar Contenidos. El Distribuidor es considerado
      como
      Cliente a los fines de este documento. No obstante, términos y condiciones específicos le aplican como
      Distribuidor.<br>
      Nosotros: Entidad responsable de Picta.<br>
      Picta: Es el software y los servicios que permiten la visualización, publicación y distribución de Contenidos.<br>
      Contenidos: Son aquellos elementos multimedia que pueden ser consumidos desde Picta, fundamentalmente se refiere a
      audiovisuales y sonidos.</p><br>
    <strong class="tittle_term">2. Aceptación</strong><br>
    <p>Para que un Cliente pueda utilizar Picta tiene que aceptar estos Términos y condiciones de uso. La utilización de
      Picta implica la aceptación del Cliente de este documento.</p><br>
    <strong class="tittle_term">3. Uso de Picta</strong><br>
    <p>El Cliente sólo utilizará Picta para los fines permitidos en este documento. El Cliente podrá distribuir la
      aplicación móvil a terceros pero siempre de forma gratuita.<br>
      Para utilizar Picta el Cliente acepta:<br>
      a) No violar derechos de propiedad intelectual de terceros al distribuir Contenidos en Picta, sin el
      consentimiento
      expreso de su titular.<br>
      b) No realizar actividad alguna que pueda afectar el normal funcionamiento de Picta.<br>
      c) No realizar comentarios ofensivos o contrarios a la moralidad, así como aquellos que denigren u ofendan
      gobiernos
      o políticas gubernamentales.<br>
      d) Recibir solicitudes, calificaciones y comentarios de Clientes sobre los Contenidos en la manera que lo articula
      Picta.<br>
      e) El Cliente puede consumir desde Picta Contenidos previamente adquiridos. No obstante, Picta puede eliminar de
      su
      plataforma Contenidos por razones comerciales, legales u otras. En tales casos el Cliente no podrá reproducirlos
      desde Picta.<br>
      f) La eliminación de Contenidos de la plataforma puede estar motivado por incumplimiento del Distribuidor de los
      términos y condiciones expresados en este documento.<br>
      g) La iniciativa de eliminación de Contenidos corresponde a Picta o a alguna entidad estatal a la que Picta se
      subordina.<br>
      El Distribuidor acepta:<br>
      a) Registrarse en Picta como Distribuidor, cumpliendo con los requerimientos que el proceso de registro
      establece.<br>
      b) No distribuir Contenidos que atenten contra el normal desarrollo de la niñez, sean denigrantes o racistas o que
      atenten u ofendan gobiernos o políticas gubernamentales.<br></p><br>
    <strong class="tittle_term">4. Privacidad</strong><br>
    <p>Nosotros no utilizaremos la información que el Cliente brinda para otros fines que no sean el de prestación de un
      mejor servicio. Esto implica que no compartiremos estos datos con terceros hasta los límites que la ley lo
      permita.<br></p><br>
    <strong class="tittle_term">5. Renuncia de garantía y limitación de responsabilidad</strong><br>
    <p>Al utilizar Picta usted comprende y acepta expresamente que el mismo es un servicio gratuito y no se brinda
      garantía de ningún tipo en cuanto su funcionamiento. Nosotros no somos responsables de cualquier daño que el
      Cliente
      pueda considerar haber sufrido utilizando Picta.
      A pesar que hacemos un gran esfuerzo en brindar un servicio de alta disponibilidad, pueden ocurrir afectaciones en
      el uso de Picta, aquellas que podamos planificar o prever serán anunciadas con antelación.
      <br></p><br>
    <strong class="tittle_term">6. Vigencia y cambios en el Acuerdo</strong><br>
    <p>Este Acuerdo está vigente desde la fecha de entrada en vigor que acompaña el encabezado de este documento y:<br>
    </p>
    <p> a) Hasta que sea sustituido por un nuevo Acuerdo. En tal caso será el nuevo Acuerdo, en sus propios términos y
      condiciones, el que estará vigente desde esa fecha. El uso continuo de Picta, luego de la entrada en vigor del
      nuevo
      Acuerdo implica su aceptación. Picta notificará a los Clientes del nuevo Acuerdo.<br>
    </p>
    <p> b) Mientras esté en funcionamiento Picta y sus servicios asociados.<br></p><br>
    <strong class="tittle_term">7. Ley aplicable<br></strong>
    <p>La ley aplicable para interpretar y ejecutar este Acuerdo es la ley de la República de Cuba.</p>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="dialogRef.close(false)" color="warn" mat-button>Declinar</button>
  <button (click)="dialogRef.close(true)" color="primary" mat-button>Aceptar</button>
</mat-dialog-actions>
